.container {
  margin: 40px auto;
}

p {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy;
  margin: 20px auto;
}

.boxContainer {
  height: 190px;
  margin: 30px 85px;
}

#colorBox1 {
  width: 100px;
  height: 80px;
  background: red;
  border: 1px solid lightgrey;
  float: left;
  margin: 30px;
  color: white;
  padding-top: 50px;
  text-align: center;
  border-radius: 3em;
  opacity: 0.2;
}

.colorBox1:hover {
  opacity: 4
}


#colorBox2 {
  width: 100px;
  height: 80px;
  background: black;
  border: 1px solid lightgrey;
  float: left;
  margin: 30px;
  color: white;
  padding-top: 50px;
  text-align: center;
  border-radius: 3em;
  opacity: 0.2;
}

.colorBox2:hover {
  opacity: 4;
}
#colorBox3 {
  width: 100px;
  height: 80px;
  background: green;
  border: 1px solid lightgrey;
  float: left;
  margin: 30px;
  color: white;
  padding-top: 50px;
  text-align: center;
  border-radius: 3em;
  opacity: 0.2;
}

.colorBox3:hover {
  opacity: 4;
}
#colorBox4 {
  width: 100px;
  height: 80px;
  background: yellow;
  border: 1px solid lightgrey;
  float: left;
  margin: 30px;
  color: grey;
  padding-top: 50px;
  text-align: center;
  border-radius: 3em;
  opacity: 0.2;
}

.colorBox4:hover {
  opacity: 4;
}
#colorBox5 {
  width: 100px;
  height: 80px;
  background: blue;
  border: 1px solid lightgrey;
  float: left;
  margin: 30px;
  color: white;
  padding-top: 50px;
  text-align: center;
  border-radius: 3em;
  opacity: 0.2;
}

colorBox5:hover {
  opacity: 4;
}

.startButton {
  width: 100px;
  height: 30px;
  border: 1px lightgrey solid;
  color: white;
  background: green;
  font-size: 20px;
  margin: 30px auto;
  text-align: center;
  border-radius: 3em;
  padding-top: 10px;
}

#time {
  width: 100px;
  height: 30px;
  border: 1px lightgrey solid;
  color: white;
  background: red;
  font-size: 20px;
  margin: 30px auto;
  text-align: center;
  border-radius: 3em;
  padding-top: 10px;
}
.instructions {

  height: 45px;
  width: 410px;
  border: 1px lightgrey solid;
  color: black;
  background: lightgrey;
  font-size: 18px;
  margin: 20px auto;
  text-align: left;
  border-radius: 1em;
  padding: 5px 20px 20px 20px;
}
